* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.img {
    width: 30%;
    height: auto;
    padding: 0;
    margin-bottom: 10px;
}

.profile {
    width: 15%;
    height: auto;
    border-radius: 50%;
}

th {
    text-align: left;
}

.text-center {
    text-align: center;
}

body {
    background: #fff;
    position: relative;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    background-color: transparent;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

.main {
    height: 100%;
    margin-bottom: 100px;
}

.main .small {
    font-size: 25px;
    color: #333;
}

.main h1 {
    margin: 50px 0px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 4px 15px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
    background: #5fc55f;
    border-color: #4cae4c;
    color: #fff;
}

.btn-success:hover {
    background: transparent;
    border-color: #ccc;
    color: #000;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-primary {
    color: #fff;
    background-color: #326fa3;
    border-color: #2768a2;
}

/* Flashing */
.alert {
    margin-top: 10px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
}

.alert-success {
    height: 100%;
    background: #dff0d8;
    display: flex;
    border-color: #d6e9c6;
    align-items: center;
    padding: 15px;
    color: #3c763d;
}

.alert-danger {
    height: 100%;
    background: #f2dede;
    display: flex;
    align-items: center;
    padding: 15px;
    color: #a94442;
    border-color: #ebccd1;
}

/* Forms */
.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control {
    outline: 0;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus:invalid {
    border-color: #d9534f;
}

.form-control:focus:valid {
    border-color: #4cae4c;
}



/* Header */
.nav {
    width: 100%;
    height: 80px;
    position: sticky;
    background: #081b29;
    z-index: 100;
    top: 0;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 100%;
    align-items: center;
}

.nav-brand {
    color: #ededed;
    font-weight: 600;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    padding: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Hide links by default on mobile */
.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

/* Menu icon */
.menu-icon {
    cursor: pointer;
    font-size: 24px;
    display: none;
}


.navbar a {
    font-size: 18px;
    color: #ededed;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

/* Home Section */
.home {
    height: 100vh;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-quote {
    background: #092234;
    color: #fff;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .6);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    height: 300px;
}

.home-quote p {
    margin-bottom: 20px;
    position: relative;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    font-style: italic;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a:hover::before {
    width: 100%;
}

/* related to sections */

section h3 {
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

section h5 {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
}

section p {
    font-weight: 400;
    font-size: 19px;
    line-height: 40px;
}

/* About Section */
.about {
    background: transparent;
    height: 100vh;
    margin-bottom: 40px;
}

.about-content {
    background: #fff;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    padding: 30px;
    border-radius: 10px;
}

/* News Section */
.news {
    height: 100%;
    background: transparent;
    margin-bottom: 150px;
    position: relative;
}

.categories {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 25px;
}

.categories>a {
    color: #00abf0;
    font-size: 20px;
}

.news .show {
    text-align: center;
    color: #00abf0;
    font-size: 20px;
    position: absolute;
    top: 750px;
    left: 500px;
}

.news-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    column-gap: 10px;
    gap: 5px;
    margin-bottom: 30px;
}

.news-content .content {
    background: #fff;
    height: 300px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.content .img {
    height: 70%;
    border: 2px solid;
}

.content .text {
    height: 30%;
}

/* NewsLetter Section */
.news-letter {
    height: 70vh;
}

.form {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;
}

.form input {
    padding: 10px;
    outline: none;
    border: 1px solid #fff;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    margin: 20px;
    width: 300px;
}

.form input:focus {
    border: none;
}

.form form {
    display: flex;
}

.form a {
    background: #00abf0;
    color: #fff;
    padding: 10px;
}

.form a:hover {
    background: transparent;
    border: 1px solid #00abf0;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    color: #000;
}

.form .form-info {
    background: #092234;
    color: #fff;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .6);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    height: 300px;
}

.form-info p {
    margin-bottom: 20px;
    position: relative;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    font-style: italic;
}

/* Contact Section */
.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form {
    position: relative;
    width: 600px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    background: transparent;
    color: #000;
    margin-bottom: 20px;
}

form .send-btn {
    display: inline-block;
    background: #00abf0;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 30%;
}

form .send-btn:hover {
    background: transparent;
    color: #00abf0;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    cursor: pointer;
}

/* Footer Section */
footer {
    margin-top: 118px;
    background: #081b29;
    height: 120px;
    color: #fff;
}

footer p {
    text-align: center;
}

footer .container {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-social {
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.social {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #00abf0;
}


/* View Articles */
.posts {
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.post-info {
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    height: 150px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    margin-bottom: 30px;
}

.post-info h2 {
    color: #081b29;
    font-weight: 0;
}

.post-btn {
    margin-top: 10px;
    display: flex;
    gap: 1px;

}

.post-btn .btn {
    font-size: 8px;
    flex: 1;
}

/* Article Body */
.article-body {
    padding: 20px 40px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .3);
    margin-top: 20px;
}

.forms {
    align-items: center;
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.message {
    height: 80vh;
    position: relative;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
}

.message-area {
    overflow-y: scroll;
    height: 60vh;
}

.message form {
    position: sticky;
    width: 80%;
    bottom: 0px;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.articles-info {
    line-height: 1.5;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}

/* Responsive layout */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        /* Show menu icon on mobile */
    }

    .nav-links.show {
        display: flex;
        /* Show links when toggled */
    }
}

/* Mobile Phones (portrait and landscape) */
@media (max-width: 767px) {

    .img,
    .profile {
        width: 80%;
        height: auto;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .home-content h1 {
        font-size: 32px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .btn-box {
        flex-direction: column;
        width: 100%;
    }

    .btn-box a {
        width: 100%;
        margin-bottom: 10px;
    }

    .news-content {
        grid-template-columns: 1fr;
    }

    .form input {
        width: 100%;
    }

    .form .form-info {
        width: 100%;
    }

    .contact-form form {
        width: 100%;
    }

    .post-info {
        width: 100%;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    .img,
    .profile {
        width: 60%;
        height: auto;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar a {
        font-size: 18px;
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content h3 {
        font-size: 28px;
    }

    .btn-box {
        flex-direction: row;
        width: 80%;
    }

    .news-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .form input {
        width: 80%;
    }

    .form .form-info {
        width: 80%;
    }

    .contact-form form {
        width: 80%;
    }

    .post-info {
        width: 80%;
    }
}

/* Laptops and Desktops */
@media (min-width: 1025px) {

    .img,
    .profile {
        width: 30%;
    }

    .navbar{
        display: block;
    }

    .home-content h1 {
        font-size: 56px;
    }

    .home-content h3 {
        font-size: 32px;
    }

    .news-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .form input {
        width: 300px;
    }

    .form .form-info {
        width: 500px;
    }

    .contact-form form {
        width: 600px;
    }

    .post-info {
        width: 150px;
    }
}