{% extends 'layout.html' %}

{% block body %}
<h1>Notifications</h1>
<ul class="list-group">
    {% for notification in notifications %}
        <li class="list-group-item lead">
            <a href="#">{{ notification.message }}</a>
            - {{notification.created_at}}
            {% if not notifications.is_read %}
                <strong><em>    New</em></strong>
            {% else %}
                <strong><em>    New</em></strong>
            {% endif %}
        </li>
    {% else %}
    <p>No Notifications Yet</p>
    {% endfor %}
</ul>
{% endblock %}